@page "/calllogs"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject CallLogService Service

<h3>Call Logs</h3>

@if (callLogs == null || callLogs.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="callLogs.AsQueryable()" Class="table table-striped table-bordered" TGridItem="CallLog">
        <PropertyColumn Property="@(c => c.Id)" Title="ID" Sortable="true" />
        <PropertyColumn Property="@(c => c.CreatedAt)" Title="Created At" Sortable="true" Format="yyyy-MM-dd HH:mm:ss" />
        <PropertyColumn Property="@(c => c.Type)" Title="Type" Sortable="true" />
        <PropertyColumn Property="@(c => c.Status)" Title="Status" Sortable="true" />
        <PropertyColumn Property="@(c => c.Cost)" Title="Cost" Sortable="true" />
        <PropertyColumn Property="@(c => c.DestinationNumber)" Title="Destination Number" Sortable="true" />
    </QuickGrid>
}

@code {
  private List<CallLog> callLogs = new List<CallLog>();
  protected override async Task OnInitializedAsync()
  {
    callLogs = await Service.GetCallLogs();
  }
}